html {
    min-height: 100%;
	/*font-family: sans-serif;*/
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
body {
    background: #1b4564;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
a,
li {
    color: #9a9a9a;
    text-decoration: none;
}
a:hover {
    color: #fff;
}
ul {
    list-style: none;
}
/*--------------------------site-Search field --------*/
.site-search-form {
    border: 1px solid #12213a;
    position: absolute;
    max-width: 300px;
    top: 15px;
    right: 30px;
}
.site-search-btn {
    color: #1b4564;
    width: auto;
}
.site-search-form input {
    border: 1px;
    background: #1b4564;
    text-align: right;
}
.site-search-item:hover {
    background: #ccc;
    border: 1px;
    color: #1b4564;
    font-weight: 400;
}
.site-search-item:focus {
    background: #fff;
}
.site-search-item:focus ~.site-search-btn {
    color: #9a9a9a;
}

/*------------------- H E A D E R -----------------*/
.header {
    /*border: 1px solid red;*/
    width: 100%;
    max-width: 960px;
    min-width: 320px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: #9a9a9a;
    margin: 0 auto;
    padding: 30px 0 10px;
    justify-content: space-around;
}
.menu {
    display: inline-flex;
    flex-wrap: wrap;
}
.menu > li {
    margin: auto 20px;
    line-height: 1.5;
}
span {
    margin-left: 20px;
}
.logo {
    font-weight: 100;
    text-transform: uppercase;
    line-height: 100%;
    margin-left: 10px;
}
.levelZero {
    display: none;
    left: 10px;
    position: absolute;
}
.menu-logIn {
    position: relative;
}
.menu-reg-drop {
    position: relative;
    font-style: italic;
    font-size: 0.8em;
}
.menu-logIn:hover > .levelZero {
    display: block;
}
.menu-social {
    display: inline-flex;
    flex-wrap: wrap;
}
.menu-soc-drop {
    opacity: 0.6;
}
.menu-soc-drop:hover {
    opacity: 1;
}
/*---------------- C A T E G O R Y ------------------*/
.container {
    width: 100%;
    max-width: 960px;
    min-width: 320px;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: #9a9a9a;
    margin: -10px auto 10px;
    /*padding: 20px 0;*/
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}
.nav-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto 0;
}
.menu-addContent,
.menu-Content {
    border: 1px solid #9a9a9a;
    margin: 10px 0;
	height: 40px;
    position: relative;
    padding: 2px 15px;
    flex: 1 1 200px;
    min-width: 374px;
    /*when: flex-direction: column;*/
    /*align-items: center;/*text centered on the horizontal axis*/
    /*justify-content: center;/*text centered on the vertical axis*/
}
.menu-addContent {
    border-right: none;
}
.menu-Content {
    border-left: none;
}
.menu-addContent:hover > .levelOne,
.menu-Content:hover > .levelOne,
.menu-content-Category:hover > .levelTwo {
    display: block;
}
.menu-addContent-drop li:hover,
.menu-content-Category li:hover,
.menu-Content-drop li:hover {
    background: #1b4564;
}
.levelOne {
    display: none;
    position: absolute;
    z-index: 50;
    top: 100%;
    left: -10px;
}
.levelOne > li,
.levelTwo > li {
    background-color: #1b4564;
    border: 1px solid #9a9a9a;
    width: 180px;
    margin: 0 10px;
    height: 40px;
}
.levelTwo {
    display: none;
    position: absolute;
    z-index: 50;
    left: 181px;
}
.menu-Content-drop-allCat {
    top: 5px;
}
.menu-Content-drop-allVideo {
    top: 47px;
}
.menu-Content-drop-allAudio {
    top: 89px;
}
.menu-Content-drop-allText {
    top: 131px;
}
.nav-content li > a {
    display: flex;
    justify-content: center;
    margin: 10px;
}
/*---------------- S L I D E R -------------------------*/
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 20px 0 0;
    width: 100%;
}
#forwardArrow {
    right: 30px;
}
#backArrow {
    left: 30px;
}
.slider-arrows {
    background-color: rgba(80,80,80,0.4);
    border-radius: 6px;
    display: none;
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 50;
}
.slider-arrows:hover {
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.slider:hover > div {
    -webkit-filter: none;
    filter: none;
}
.slider:hover >.slider-arrows {
  display: block;
}
.slider-photo {
    background-color: #9a9a9a;
    background-size: cover;
    border: 1px solid #9a9a9a;
    border-radius: 6px;
    width: 805px;
    height: 242px;
    margin: auto -30px;
    z-index: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); /* black and white images*/
}
.slider-photo:hover {
    border: 4px solid #9a9a9a;
    -webkit-filter: none;
    filter: none;
}
/*----------------- S E A R C H -------------------*/
.search-form {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 860px;
    margin: 30px 0 20px;
}
.reset-btn,
.search-item,
.search-btn {
    flex: 1 1 200px;
    border: 1px solid #9a9a9a;
    min-width: 203px;
    height: 40px;
}
.search-item {
    background: #1b4564;
    min-width: 402px;
    text-align: center;
}
.search-btn {
    text-transform: uppercase;
}
.search-item:hover {
    background: #ccc;
    border: 4px solid #12213a;
    color: #12213a;
    font-weight: 400;
}
.search-item:focus {
    background: #fff;
}
input[placeholder = "Choose type of content"],
input[placeholder = "search field"]{
    color: #dcdcdc;
    font-weight: 400;
}
/*------------------ M A I N ---------------------- */
.main {
    background: #ccc;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    color: #1b4564;
    /*margin: 0 auto 30px;*/
    padding: 20px 0;
    flex-direction: column;
    /*flex-grow: 1; *//*прижимаем footer к низу*/
    justify-content: space-around;
    align-items: center;
}
/*------------------- C O N T E N T ------------------------*/
.content {
    border: 1px solid #1b4564;
    border-radius: 6px;
    width: 810px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.content:hover {
    border: 5px solid #12213a;
    box-shadow:13px 10px 13px 0 gray;
}

.page > div p:hover {
    font-weight: 600;
}
.page {
    border: 1px;
    border-radius: 6px;
    overflow: auto;
    height: 250px;
    float: left;
    width: 70%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.sort-button-block {
    width: 30%;
}
.sort-btn {
    display: none;
    height: 40px;
    border: 1px solid #9a9a9a;
    min-width: 218px;
}
/*----------------------------------PAGINATION------------------*/
.page-block {
    display: none;
}
.paginator {
    line-height: 150%;
    color: #1b4564;
}
.paginator > span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.paginator_active {
    font-weight: 600;
    color: #12213a;
}
/*---------------G A L L E R Y ---------------------*/
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 20px 0 0;
    z-index: 3;
}
.gallery-container {
    width: 1620px;
    height: 260px;
    position: relative;
    transition: left 2s;
}
.gallery-wrapper {
    float: left;
    width: 810px;
    overflow: hidden;
}
.gallery-wrapper input[type="radio"] {
    display: none;
}
.gallery-arrows {
    background-color: rgba(80,80,80,0.1);
    border-radius: 6px;
    display: flex;
    margin: auto -60px;
    width: 48px;
    height: 48px;
    z-index: 50;
}
.gallery-arrows:hover {
    background-color: rgba(80,80,80,0.4);
}
input[id="gallery-first"]:checked ~ div.gallery-container {
    left: 0;
}
input[id="gallery-second"]:checked ~ div.gallery-container {
    left: -810px;
}
.gallery-img {
    float: left;
    border: 1px;
    border-radius: 6px;
    overflow: hidden;
    width: 260px;
    height: 260px;
    margin: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); /* black and white images*/
}
.gallery-img:hover {
    /*border: 1px solid #12213a;*/
    box-shadow:7px 5px 7px 0 gray;
    -webkit-filter: none;
    filter: none;
}
/*------------------F O O T E R ---------------------------------*/
.footer {
    width: 100%;
    max-width: 960px;
    min-width: 320px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #9a9a9a;
    margin: 0 auto;
    padding: 50px 0;
}
/*-------------------M O D A L    W I N D O W----------*/
.modal-window {
    position: fixed;
    top: 0; /*thus it is stretched to the whole window */
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(18,33,58,0.7);
    z-index: 100;
    display: none;
    pointer-events: none;
}
.modal-window:target {
    display: block;
    pointer-events: auto;
}
/*-------------------Internal modal window-----*/
.wrapper,
.wrapper-map,
.wrapper-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    /*border-radius: 5px;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 0 30px 2px;*/
    z-index: 50;
}
/*----------------------Cross symbol--------------------*/
.close,
.close-map,
.close-reg {
    position: relative;
    padding: 0;
    top: -190px; /*Cross symbol positioning*/
    left: 300px;
    width: 22px;
    height: 22px;
    /*border: 2px solid #ccc; /*Circle around symbol cross*/
    /*border-radius: 50%;*/
    background-color: rgba(61,61,61,0.8);
    border-radius: 2px;
    box-shadow: 0 0 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    transition: background-color ease .7s;
}
/*----------------Adding cross to close modal window------*/
.close:before,
.close-map:before,
.close-reg:before {
    color: rgba(255, 255, 255, 0.9);
    content: '\2715';
    text-shadow: 0 -1px rgba(0,0,0,0.9);
    font-size: 12px;
}
.close:hover,
.close-map:hover,
.close-reg:hover {
    background-color: rgba(252,20,0,0.8);
}
/*----------------------C O N T A C T S  in Modal Window------------------*/
.wrapper-map,
.wrapper-reg {
    flex-direction: column;
}
.modal-wdw-map {
    position: relative;
    top: 15px;
}
.address {
    border: 2px solid #9a9a9a;
    background: rgba(18,33,58,0.7);
    margin-top: 40px;
    width: 418px;
    color: #9a9a9a;
    padding: 20px;
}
address:hover {
    background: rgba(18,33,58,1);
}
.close-map {
    top: 0; /*Cross symbol positioning*/
    left: 219px;
}
.close-reg {
    top: 20px;
    left: 140px;
}
/*----------------------F O R M  in Modal Window------------------*/
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
fieldset > input,
fieldset > label,
fieldset > textarea{
    border: #12213a;
    border-radius: 2px;
    margin-top: 5px;
    text-align: center;
    width: 300px;
    height: 40px;
    background: #1b4564;
    color: #dcdcdc;
    font-size: 0.8em;
}
.regForm {
    margin-top: 40px;
}
input[type = "text"]:hover,
input[type = "email"]:hover,
input[type = "file"]:hover,
input[type = "tel"]:hover,
input[type = "password"]:hover,
textarea:hover {
    background: #9a9a9a;
    color:#1b4564;
    text-shadow: none;
}
input[type = "text"]:focus,
input[type = "email"]:focus,
input[type = "file"]:focus,
input[type = "tel"]:focus,
input[type = "tel"]:focus,
textarea:focus {
    background: #fff;
    color: #9a9a9a;
}
legend {
    color: #ccc;
}
/*-------------------------B U T T O N S--------------------------*/
.button,
.search-btn,
.reset-btn,
.sort-btn{
    background: linear-gradient(#1b4564 ,#12213a);
    color: #9a9a9a;
    font-size: 15px;
    text-align: center;
    text-shadow: -1px 1px 2px black;
    /*opacity:0.7;*/
}
.button:hover,
.search-btn:hover,
.reset-btn:hover,
.sort-btn:hover {
    cursor: pointer;
    color: #fff;
    box-shadow:9px 6px 9px 0 black;
    /*font-weight:bold;*/
    /*opacity:1;*/
}
.button:active,
.search-btn:active,
.reset-btn:active,
.sort-btn:active {
    box-shadow:4px 3px 6px 0 black;
    font-size: 14px;
    text-decoration: none;
    text-shadow: none;
    /*opacity:0.8;*/
}

@media screen and (max-width: 690px){
    .slider-photo {
        background-color: #9a9a9a;
        background-size:cover;
        border: 4px solid #9a9a9a;
        border-radius: 6px;
        width: 640px;
        height: 192px;
        margin: auto -30px;
    }
    .content {
        border: 1px solid #1b4564;
        border-radius: 6px;
        width: 640px;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .line {
        display: none;
    }
    .menu-addContent {
        border-right: 1px solid #9a9a9a;
    }
    .menu-Content {
        border-left: 1px solid #9a9a9a;
    }
    .gallery {
        width: 540px;
    }
    .gallery-wrapper {
        width: 540px;
    }
    input[id="gallery-second"]:checked ~ div.gallery-container {
        left: -540px;
    }
}

@media screen and (max-width: 460px){
    .slider-photo {
        width: 460px;
        height: 138px;
    }
    .content {
        width: 460px;
    }
    .line {
        display: none;
    }
    .menu-addContent {
        border-right: 1px solid #9a9a9a;
    }
    .menu-Content {
        border-left: 1px solid #9a9a9a;
    }

    .gallery {
        max-width: 270px;
    }
    .gallery-wrapper {
        width: 270px;
    }
    input[id="gallery-second"]:checked ~ div.gallery-container {
        left: -270px;
    }
}